.tnav{
	margin: 0px;
	font-family: courier;
	padding: 15px;
	justify-content: center;
	width: 100vw;
	position: sticky;
	overflow: hidden;
	background-color: black;
}

.tnav a{
	float: left;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 20px;
	  text-align: center;
	  color: whitesmoke;

}

.tnav a:hover {
	background-color: grey;
	transition: background-color 1s ;

}

.tnav a.active{
	background-color: #a934ff;
	color: #40006e;
}

body{
	background-color: #89CFF0;
}

.Tpage{
	font-family: monospace;
	padding: 7px;
	text-shadow: brown 1px 0px 5px;
	text-align: center;
	font-size: 20px; 
}

hr{
	height: 7px;
	width: 90vw;
	text-align: center;
	background: black;
	margin: 0px 80px;

}

.Group-1{
	display: grid;
	gap: 2.5%;
	grid-template-rows: 0.25fr;
	grid-template-columns: 0.33fr 0.33fr 0.33fr;
}

.G1{
	grid-row: 1;
	grid-column: 1;
}

.G2{
	grid-row: 1;
	grid-column: 2;
}

.G3{
	grid-row: 1;
	grid-column: 3;
}

.G1 img{
	object-fit: cover;
	margin: 10px;
	border-radius: 25px;
	border: 10px solid;
	width: 100%;
	height: 100%;
}

.G2 img{
	object-fit: cover;
	margin: 10px;
	border-radius: 25px;
	border: 10px solid;
	width: 100%;
	height: 100%;
}

.G3 img{
	object-fit: cover;
	margin: 10px;
	border-radius: 25px;
	border: 10px solid;
	width: 100%;
	height: 100%;
}


.head{
	padding: 20px;
	display: grid;
	grid-template-rows:0.5fr;
	grid-template-columns:0.25fr 0.25fr 0.5fr;
}



/*change img here btw*/
.left{
	grid-row: 1;
	grid-column: 1;
	padding: 20px;
	display: flex;
	align-items: center;
	height: auto;
	width: auto;
	margin: 15px;
	background-color: black;
	border:2.5px;
	border-radius: 10px;
	transform:translate(20px);
}

.left img{
	background-color: black;
	height: 400px;
	width: 325px;
	object-fit: cover;
	border-radius: 25px;
}

.left img a:hover{
	
}

.right {
	grid-row: 1;
	height: 250px;
	grid-column: span 2;
	border-radius: 50px;
	font-size: 20px;
	padding: 80px;
}

.Group-2{
	padding: 20px;
	display: grid;
	grid-template-rows: 0.5fr;
	grid-template-columns: 0.25fr 0.25fr 0.5fr;
}

.LG2{
	grid-row: 1;
	grid-column: 1;
	padding: 20px;
	display: flex;
	align-items: center;
	height: auto;
	width: auto;
	margin: 15px;
	background-color: black;
	border:2.5px;
	border-radius: 10px;
	transform:translate(20px);
}

.LG2 img{
	background-color: blue;
	height: 400px;
	width: 325px;
	object-fit: cover;
	border-radius: 25px;
}

.RG2{
	grid-row: 1;
	grid-column: span 2;
	border-radius: 25px;
	font-size: 20px;
	padding: 80px;
}

.Group-{3
	padding: 20px;
	display: grid;
	grid-template-rows: 0.5fr;
	grid-template-columns: 0.25fr 0.25fr 0.5fr;
}

.LG3{
	grid-row: 1;
	grid-column: 1;
	padding: 20px;
	display: flex;
	align-items: center;
	height: auto;
	width: auto;
	margin: 15px;
	background-color: black;
	border:2.5px;
	border-radius: 10px;
	transform:translate(20px);
}

.LG3 img{
	background-color: blue;
	height: 400px;
	width: 325px;
	object-fit: cover;
	border-radius: 25px;
}

.RG3{
	grid-row: 1;
	grid-column: span 2;
	border-radius: 25px;
	font-size: 20px;
	padding: 80px;
}