body{
	background-color: #898BF0;
}

@media (any-hover: hover) {
a:hover{
	font-weight: bold;
	font-family: monospace;
	color: #898BF0;
	font-size: 15px;
	}
}

a:visited{
	font-weight: bold;
	font-family: monospace;
	color: #898BF0;
}

h1{
	padding: 0.5em;
	font-size: 25px;
	font-family: serif;
}

h2{
	font-family: sans-serif;
	display: grid;
	text-align: left;

}

h3{
	font-family: sans-serif;
	font-style: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#32CBFF;
}

li {
	float: left;
}

li a{
	font-family: monospace;
	display: block;
	text-align: left;
	list-style:none;
	padding: 10px;

}

p{
	font-family: monospace;
	display: grid;
	text-align: left;
	padding: 10px;
	font-size: 18px;
}

.SmallText{
	font-size: 15px;
	font-family: sans-serif;
	padding: 0px;
	font-weight: bold;
}

img{
	width: 400px;
	height: 400px;

}

#HRInfo{
	text-align: left;
	font-weight: bold;
	color: black;

}

.Grid {
	display: grid;
	min-height: 100vh;
	grid-template-columns:0.5fr 1fr 2fr;
	grid-auto-rows: 0.5fr 1fr 2fr;
	grid-gap: 20px;
}

.grid-Header{
	grid-row: 1;
	grid-column: 1/ 14;
	border: 2.5px solid black;
	background-color: #32CBFF;
	grid-column: 2fr;
	padding: 10px;
}

.grid-Body{
	grid-row: 2 / 5;
	grid-column:  2 / 14;
	background-color: #32CBFF;
	border: 2.5px solid black;
	padding: 10px;
}

.grid-Aside{
	grid-row: 2 / 5;
	grid-column: 1 / 2;
	background-color: #32CBFF;
	border: 2.5px solid black;
	padding: 10px;
}

.grid-Footer{
	grid-row:  5;
	grid-column:  1 / 14;
	background-color: #32CBFF;
	border: 2.5px solid black;
	padding: 10px;
}
